<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Birthday Jarvis</title>
</head>
<body style="font-family:cursive, Arial; font-size: 20px">
    <div class="navbar-nav bg-dark py-3 mb-4">
        <div class="container">
            <a class="text-light" href="https://github.com/Adiprogrammer7">Created by Adiprogrammer</a>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Birthday Jarvis</h1>
            <p class="lead">Capture the birthdates of your loved one. Just create an account and store data of birthdates of your loved ones!</p>
            <a class="btn btn-lg btn-warning" href="{{ url_for('register') }}">Register</a>
            <a class="btn btn-lg btn-warning" href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

</body>
</html>